.navbar-custom {
    background-color: #DE581F;
}
/* .navbar-brand {
    color: rgba(255,255,255,.8);
} */

.navbar-brand:link {
    color: red;
}

/* visited link */
.navbar-brand:visited {
    color: #ffffff;
}

/* mouse over link */
.navbar-brand:hover {
    color: #76635B;
}

/* selected link */
.navbar-brand:active {
    color: #ffffff;
}