<nav class="navbar navbar-expand-lg navbar-custom ">
  <a class="navbar-brand" [routerLink] = "['/']">WEATHER APP</a>
  <a class="navbar-brand" [routerLink] = "['current']">Current Weather</a>
  <a class="navbar-brand" [routerLink] = "['forecast']">Forecast</a>
</nav>