<div class="container">
  <!-- <form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter a zipcode" formControlName="forecastCity">
    <button>Go</button>
  </form> -->

  <div class="row">
    <form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
      <div class="inputZipCodes">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a zipcode" formControlName="forecastCity">
            <span class="input-group-addon">
              <button class="sBtn" name="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div *ngIf="cityForecast.length>0" class="forecastCity">{{cityForecast[0].city}}</div>
  <div class="weathers">
    <div class="day weather" *ngFor="let day of cityForecast">
      <div class="forecastWthrIcon">
        <img src="https://openweathermap.org/img/w/{{day.icon}}.png">
      </div>
      <div class="forecastDay">{{day.day | date:'MMMd, y'}}</div>
      <div class="temp">
        <div>{{day.tempMax}}&deg;/{{day.tempMin}}&deg;</div>
      </div>
    </div>
  </div>
</div>