/* .day .icon{
    margin:0 1em;
    font-family: 'Roboto';
    width:100px;
    height: 100 px;
    margin:0 5% 0% 5%;
  } */
/* .img{
    width:1000%;
    height: auto;
    margin:0 25%;
  } */

.day.weather {
  background: #484848;
  margin: 10px 10px 0px 0px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #1d1d1d;
  font-size: 19px;
  font-family: sans-serif;
  width: 151px;
  display: inline-block;
}

.inputZipCodes {
  width: 50%;
  margin-left: 25%;
}

.forecastCity {
  font-size: 45px;
  font-family: fantasy;
  color: #a94921;
  text-shadow: 1px 1px 3px #ffffff;
}

.currentTemp{
  font-size: 80px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: -18px;
}
.forecastWthrIcon img {
  margin-left: -18%;
  margin-bottom: -3%;
}
