<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-current-weather></app-current-weather>
<app-forecast></app-forecast> -->


