/* You can add global styles to this file, and also import other style files */

body, html {
    height: 100%;
    margin: 0;
}

.bg { 
    /* The image used */
    /* background-image: url("./images/bg2.jpg"); */

    /* Full height */
    height: 100%; 
    margin: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); */
}

.bg1{
    background-image: url("./images/bg2.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px; 
    right: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sBtn{
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
}