<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="inputZipCodes">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ngModel name="zip" placeholder="Enter a zipcode">
            <span class="input-group-addon">
              <button class="sBtn" name="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <!-- <input type="text" class="input" ngModel name="zip" placeholder="Enter of a zipcode">
        <button name="button">Go</button> -->
    </form>
  </div>
  <div class="row">
    <div class="weathers">
      <div class="weather">
        <div class="currentTemp">{{myWeather.temperature}}&deg; F</div>
        <div class="img currentWthrIcon">
            <img src="https://openweathermap.org/img/w/{{myWeather.icon}}.png">
          </div>
        <div class="currentCity">{{myWeather.cityName}}</div>
        <div class="currentWthrKnd">{{myWeather.weatherKind}}</div>
        <div class="currentMax">Max: {{myWeather.tempMax}}&deg; F</div>
        <div class="currentMin">Min: {{myWeather.tempMin}}&deg; F</div>
      </div>
    </div>
  </div>
</div>