/* .input[type=text] {
    background-color: white;
    background-image: url('http://files.softicons.com/download/system-icons/web0.2ama-icons-by-chrfb/png/256x256/Search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    border: 3px solid #1E3F3B;
    border-radius: 4px;
} */

.weather{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #1d1d1d;
    font-size: 19px;
    font-family: sans-serif;
}

.inputZipCodes {
    width: 50%;
    margin-left: 25%;
}

.currentCity {
    font-size: 45px;
    font-family: fantasy;
    color: #a94921;
    text-shadow: 1px 1px 3px #ffffff;
}


.currentTemp{
    font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: -18px;
}
.currentWthrIcon img {
    margin-left: -18%;
    margin-bottom: -3%;
}
